body{
  background-color: rgba(250,250,250,1);
}
.container-root{
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.container-id{
  width: 100%;
  background-color: white;
}




/*! SHAME !*/
.md-errors-spacer{
  display: none!important;
}

.container-card{
  width: 500px;
  max-width: 100%;
}

.element-avatar{
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}
